h1,
h2,
h3,
p,
li {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}


/* Navbar */

.nav_bar {
    height: 80px;
    width: 98%;
    margin: 0 auto;
    background-color: #E76F51;
}

.header {
    height: 500px;
    width: 98%;
    margin: 10px auto;
    background-color: #F4A261;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
    width: 98%;
    margin: 10px auto;
    background-color: #E9C46A;
}

.column {
    display: inline-block;
    height: 700px;
    width: 550px;
    background-color: #2A9D8F;
}

.footer {
    height: 250px;
    width: 98%;
    margin: 0 auto;
    background-color: #264653;
}