h1,
h2,
h3,
p,
li a {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}


/* Styling */

.bold {
    font-weight: bold;
}


/* Body */

body {
    background-image: url(./resources/images/website-background.jpeg);
    background-size: cover;
}


/* Navbar */

.nav_bar {
    height: 80px;
    width: 95%;
    margin: 0 auto;
    background-color: #E76F51;
    border-radius: 15px;
}

.nav_bar_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.nav_bar_list_element {
    display: inline;
    font-size: 25px;
    padding: 15px 25px;
    margin-top: 10px;
}

.nav_bar_list_element:hover {
    color: gold;
    border-bottom: 2px solid gold;
    cursor: pointer;
}


/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 95%;
    border-radius: 15px;
    margin: 10px auto;
    background: url(./resources/images/pattern.jpeg);
    /* For better background, use line below and delete the one above*/
    /* background-color: #F4A261; */
}

.title {
    font-size: 108px;
    color: aqua;
}


/* Section */

.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
    width: 95%;
    border-radius: 15px;
    margin: 10px auto;
    background-color: #E9C46A;
}

.column {
    display: inline-block;
    height: 700px;
    width: 450px;
    border-radius: 15px;
}

.column_subtitle {
    font-size: 48px;
    text-align: center;
}

.product_image {
    display: block;
    margin: 0 auto;
    width: 70%;
    border-radius: 15px;
}

.column_h3 {
    text-align: center;
    margin-top: 40px;
}

.column_paragraph {
    text-align: justify;
    margin: 10px 40px;
}

.column_paragraph a {
    color: blue;
}

#column_1 {
    background-color: mediumspringgreen;
}

#column_2 {
    background-color: lightcoral;
}

#column_3 {
    background-color: skyblue;
}


/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 95%;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #2A9D8F;
}

.footer_list_element {
    display: inline-block;
    padding: 20px;
}