nav {
    background-color: aquamarine;   
}

nav li {
    display: inline-block;
    font-size: 24px;
    padding: 20px;
    margin: 0px 20px;
}

a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: blue;
}

.column {
    display: inline-block;
    margin: 10px;
    width: 360px;
    border: 1px solid gray;
    text-align: center;
}

.column p {
    text-align: justify;
    padding: 0px 10px;
}

.product-title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#title-background {
    background-image: url(./resources/images/pattern.jpeg);
    background-size: cover;
}

#title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color: khaki;
    text-align: center;
    margin: 0px;
    border-top: 80px solid khaki;
    border-bottom: 80px solid khaki;
}

#main-section {
    display: block;
    background-image: url(./resources/images/website-background.jpeg);
    background-size: cover;
}

#green-background {
    background-color: mediumspringgreen;
}

#coral-background {
    background-color: lightcoral;
}

#skyblue-background {
    background-color: skyblue;
}